.card-body{
 		background-color: rgba(234,126,253,0.8);
 }
 .title{
 	font-family:$secondaryFont;
	color:$mainColor;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 50; 
 }
 .title2{

 	font-family:$secondaryFont;
	color:$mainColor;
	font-size: $fontMD;
	line-height: 3rem;
	font-weight: 50; 
 }
 .card-text{
  color:$black;
 }
 
 .btn--contacto {
 	font-family:$mainFont;
 	color: $black;
 	font-size: 1rem;
 	line-height: 2rem;
 }
  .btn--enviar{
  	@extend .btn--contacto;
  	&:hover{
  		background-color: green;
  		color: white;
  	}
  }
  .btn--cancelar{
  	@extend .btn--contacto;
  	&:hover{
  		background-color: red;
  		color: white;
  	}
  }
