
h1{
	font-size: $fontXL;
	font-family: $secondaryFont;
	color: $mainColor;

}

h2{
	font-size: $fontMD;
	font-family: $secondaryFont;
	color: $keyColor;
	padding:0.5em;
	
}

h3,
h4{
	font-size: $fontSM;
	font-family: $secondaryFont;
	color: $mainColor;

}

p{
	font-family:$mainFont;
	line-height: 1.4em;
	font-size: $fontSM;
	margin-bottom: 30px;
	color:$secondaryColor;
	text-shadow: black 0.1em 0.1em 0.2em;
	padding: 1em;
}
.bg-purple{
	background-color: $bg__mainColor;
	border-radius: 10px;
}
.bg-aside{
 	background-color:  $bg__secondaryColor;
 	border-radius: 10px;
 	margin-bottom: 10px;
 }
 .bg-orange{
  	font-family: $secondaryFont;
	color:$keyColor;
	font-size: $fontMD;
	line-height: 4rem;
	font-weight: 100; 
}
#footer{
	background-color:rgba(252,215,250,0.8);
}
.footerText{
	font-family:$mainFont;
	line-height: 1.4em;
	font-size: $fontSM;
	margin-bottom: 30px;
	color:$keyColor;
	text-shadow: black 0.1em 0.1em 0.2em;
	padding: 1em;
}
@keyframes animateDiv {
  0%   {background-color:#FDEDF8; left:0px; top:0px;}
  25%  {background-color:#FC89E5; left:200px; top:0px;}
  50%  {background-color:#9B3AB3; left:200px; top:200px;}
  75%  {background-color:#90B8F9;left:0px; top:200px;}
  100% {background-color:#BCA8C0; left:0px; top:0px;}
}
.bg-animacion{
	animation-name: animateDiv;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
 	animation-duration: 3s;
  	animation-delay: 0;
}
.card{
	display: flex;
	justify-content:space-around;
	align-items: center;
}