@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Rancho&family=Uncial+Antiqua&display=swap');
$mainFont:'Rancho', cursive;
$secondaryFont:'Bevan', cursive;
//sizing//
$fontXL:2.5rem;
$fontMD:2rem;
$fontSM:1.5rem;
