@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Righteous&display=swap');
$mainFont:'Rancho', cursive;
$secondaryFont:'Righteous', cursive;
//sizing//
$fontXL:3rem;
$fontMD:2.2rem;
$fontSM:1.5rem;
