
#botonera{
	background-color: #FCD7FA;

ul li a{
	text-decoration: none;
		font-size: $fontSM;
		color:$mainColor;
		font-family: $mainFont;
		font-weight: 600;

&:hover { 
		@include hover;
			
		}
	}
}

.btn{
		text-decoration: none;
		font-size: $fontSM;
		color:map-get($mapaColores,"white");
		font-family: $mainFont;
		font-weight: 400;
		background-color: #8114A5;
	}
	.form-control{
		background-color: #FFEDFE;
	}