//Colores de fuente//
$mainColor: #601297;
$secondaryColor:#FEBB45;
$white:#F9F4FA;
$black:black;


$mapaColores:(
	"mainColor": #601297,
	"secondaryColor":#FEBB45,
	"white":#F9F4FA,
	"black":black);


//Colores de fondo//
$bg__mainColor:rgba(157,127,176,0.8);
$bg__secondaryColor:rgba(91,42,102,0.8);
